# === PYTHON / DJANGO ===
*.pyc
*.pyo
__pycache__/
db.sqlite3
env/
config/.env
local_settings.py

# === NODE / REACT (frontend) ===
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
frontend/.next/
frontend/.turbo/
frontend/.parcel-cache/

# === GENERAL ===
*.log
*.pot
*.py[cod]
*.swp
.DS_Store
.vscode/
.idea/
# === OS Files ===
Thumbs.db
